*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --padding-l-r:0 1.5rem;
    --small-card-padding: 1rem 1.5rem;
}


body{
    margin: 0;
  
    
}


header{
    height:100vh;
    width:100vw;
    max-width: 100%;
    background-image: url(pexels-francesco-ungaro-2325447.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
   
}

.top-nav nav{
   background-color:white;
   position: absolute;
   padding:var(--padding-l-r);
   left:0;
   right:0;
   top:0;
}
.left-nav li.brand-name-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav .brand-name-logo img{
    width: 35px;
    margin-right: 5px;
}
.top-nav nav .right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right-nav a{
    display: flex;
    align-items: center;
}
nav .right-nav img{
    box-sizing: content-box;
    height:17px;
    width:17px;
    padding: 9.6px;
    
}


.top-nav nav{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.top-nav nav ul{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    
}

nav ul a{
    text-decoration:none;
    color:#313131;
}
nav ul li{
    list-style:none;
    
    font-size: 1.2rem;
    padding:.6rem; 
}

nav ul li:hover{
    transform: scale(1.1);
}


header .left-section{
    padding: var(--padding-l-r);

    display: flex;
    justify-content: space-between;
   
}

.left-section .left-section-info{
    color:white;

    
}



.left-section-info .top-text{
    font-size: 3rem;
    max-width: 700px;
    margin-top:1rem;
}

.left-section-info .top-text-date{
    font-size: .9rem;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.left-section-info .top-text-date img{
    margin-right:5px;
    height: 12px;
    width: 12px;
}

.left-section-info .top-text-bottom-caption{
    max-width: 400px;
    font-size: 2rem;
}

.left-section-info .top-text-btn button{
    border:1px solid white;
    background-color: transparent;
    color:white;
    border-radius: 100px;
    font-size: .8rem;
    padding:1em 1.4em;
    margin-top:1rem;
}

.left-section-info .top-text-btn button:hover{
    background-color: white;
    color:black;
}



.left-section .section-cards{
    align-self: flex-end;
    display: flex;
    
}

.section-cards .card{
   
    max-width:200px;
    height: max-content;
    color: white;
    background-color: #12304D;
    

    
}

.section-cards .card:hover{
    transform: translateY(-10px);
}

.section-cards .card img{
    width: 100%;
    height: 130.42px;
}

.section-cards .card .color-theme{
    color:rgb(244, 160, 117);
}

.section-cards .card a{
    text-decoration: none;
    color:#F4A075;
}

.section-cards .card .card-info{
    padding: 1rem;
}

.section-cards .card .card-caption,
.card-more{
    margin-top: 10px;
}

.section-cards .card:first-child{
    margin-right: 1.5rem;
}

@media (max-width:700px){
    header{
        width: 100%;
        height: max-content;
        
        
    }
    .left-section{
        flex-direction: column;
        gap:20px;
        margin-top: 150px;
    }

    .section-cards{
        align-self: flex-start;
        margin-bottom: 20px;
        
    }

    nav {
        flex-direction: column;
    }
}



/*---------------------Main section-------------------------*/

.main .highlight-tab img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 9px;
}

.main .highlight-tab img:hover{
    transform: scale(1.03);
}


.main .highlight-tab{
    width: 100%;
    padding:var(--padding-l-r) ;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.highlight-tab .category{
   
}

.highlight-tab .wrap{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.main .highlight-tab div.small-card{
    display: flex;
    flex-wrap: wrap; 
   margin-right: 10px;
}

.highlight-tab .s-c-1,
.s-c-2{
    padding-left: 7px;
    border-left: 1px solid #ccc;
}

.main .highlight-tab div.small-card .small-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.featured{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    gap:5px;
}

.featured .f-c-2{
   width: 200px;
}
.featured div.f-c-1{
   flex-grow: 4;
   background-image: url(buddha\ updated.jpg);
   background-size: cover;
   background-position: 50% 100%;
   max-width: 100%;
   flex-basis: 300px;
   transition: all 1s 0 ease-in;
}

.featured div.f-c-1:hover{
    background-size: 110%;
}


.featured .f-c-1 img{
    height:271px;
}

.featured .featured-card img{
    width: 100%;
  
   object-position: center;
}


.featured .f-c-2 img{
    height: 271px;
}

.featured-card{
    overflow: hidden;
    height: 271px;
    position: relative;

}

.featured img:hover{
    transform: scale(1.05);
}

.featured .featured-card::before{
    content: '';
    width: 100%;
    height: 50%;
    background: linear-gradient(to top,black,transparent);
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    z-index: 1;
}
.featured-card .featured-card-info{
    position: absolute;
    z-index: 2;
    bottom:0;
    color:white;
    padding: 2rem 1.2rem;
}
.featured-card-info .featured-heading{
    color: #F4A075;
}

.featured-card-info .featured-info{
    font-size: 1.8rem;
}

.featured-card-info .f-info{
    font-size: 1rem;
}

@media (max-width:700px){
    .featured{
      
    }
    .highlight-tab{
        flex-direction: column;
     
    }

    .wrap{
        width: 100%;
        flex-direction: column;
        border:none;
      
    }
    .wrap .small-card{
        margin: 10px 0;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
    
    .highlight-tab .s-c-1,
    .s-c-2{
    border-left: none;

    }

    .featured .f-c-2{
        width: auto;
       
        object-position: center;
        
    }
}


div.experiment{
    background-image: url(wind.jpg);
    background-position: center;
    background-size: cover;
    min-width: 200px;
    flex-shrink: 0;
    flex-grow: 1;

}

div.experiment:hover{
    background-size: 110%;
}

div.experiment2{
    background-image:url(drone.jpg);
    background-size:cover;
    min-width: 200px;
    flex-shrink: 0;
    flex-grow: 1;
}

div.experiment2:hover{
    background-size: 110%;
}



.edditor-choice{
    display: flex;
    justify-content: space-between;
    gap:var(--padding-l-r);
    padding: var(--padding-l-r);
}


@media (max-width:700px){
    .edditor-choice{
        flex-direction: column;
    }
}
.left-side-edditor{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-e-ch-crd{
    width: 100%;
 
}

.crd-img{
    width: 100%;
    height: 300px;
    background-image: url(buddha.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.2s linear;
}

.crd-img:hover{
    background-size: 110%;
}

.img-title{
    color:#F4A075;
    margin: .5rem 0;
}

.img-caption{
    font-weight:300;
    font-size: 1.5rem;
    margin: .5rem 0;
}

.img-sub-caption{
    color:#BBBEC1;
    margin:0.5rem 0;
}


.img-credit{
    color:#838485;
    font-weight: 200;
}

.short-news{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    margin-top:10px;
    border-top:1px solid #ccc;
}

.crd-s{
    padding: .4rem;
}

.feature-posts-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.f-p-c{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:10px 0;
   
}

.f-p-c-img{
    width:200px;
    aspect-ratio: 2/1;
    margin-right:10px;
    object-fit: cover;
}

.f-p-c-info{
    border-bottom: 1px solid #ccc;
}



.form{
   
    background-color: #e3edee;
    padding: var(--small-card-padding);
    position: relative;
}

.form::before{
    content: '';
    position: absolute;
    border:1.2rem solid transparent;
    border-right-color:white;
    border-top-color:white;
    border-bottom-color:#9BC4CA;
    border-left-color:#9BC4CA;
    transform: rotate(deg);
    right:0;
    top:0;
    
  

}

.form-title{
    padding: .7rem 0;
    font-size:1.6rem;
}

input{
    width: 100%;
    height:2.3rem;
    margin: 6px 0;
    border:none;
    font-size: inherit;
    font-family: inherit;
    padding: .4em .6em;
}

input:focus,
input:hover{
    outline: 4px solid #9BC4CA;
}

.form-btn{
    width:100%;
    margin: 6px 0;
    background-color:#9BC4CA;
    color:white;
    height:2.3rem;
    padding: .4em .6em;
    border:none;
    text-transform:uppercase;
}

.form-btn:is(:hover){
    background-color: #607a7e;
}

.about{
    padding: var(--small-card-padding);
}

.main-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.ab-title{
    margin-bottom: 10px;
}
.soci-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: .4rem 0;
}

.soci-icon img{
    width:25px;
}


.most-p{
    padding: var(--small-card-padding);
}

.most-p-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.most-p ol{
    margin:0;
    padding:0;
    list-style:decimal;
}

.most-p-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:8px;
    padding: .4rem 0;
    margin-bottom: 10px;
}

.most-p-img{
    height: 50px;
    width:50px;
    border-radius: 50%;
}


.trending{
    padding:var(--small-card-padding);
}
.trending-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.trending ul{
    margin:0;
    padding:0;
}

.trending ul li{
    list-style:none;
    color:#F4A075;
    margin-bottom: 5px;
}




footer{
    padding: var(--padding-l-r);
    background-color: #e3edee;
    margin-top: 2rem;
}


footer .footer-menu{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
   
}

@media(max-width:700px){
    footer .footer-menu{
        flex-direction: column;
        
    }

    .footer-menu div.f-c{
        margin:10px 0;
    }
}

.footer-menu .company-about img{
    width:50px;
}

.footer-menu .company-about{
    max-width: 250px;
}

.company-about div::first-line{
    font-weight: 600;
}

.footer-menu .title{
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.footer-menu ul{
    padding: 0;
    margin:0;
}

.footer-menu ul li{
    list-style: none;
}

.footer-menu .f-c{
    margin: 0 10px;
}
